{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block content %}
    <h1>Welcome to Geomapgusser</h1>
    <a class="btn btn-primary" href="rand" role="button">Randomize Location</a>
    <div class="text-center">
    <img src={{ mapurl }} class="rounded" style="width: 500px; height: 500px;">
    </div>
    <div class="position-relative">
    <button type="button" class="btn btn-outline-info">{{ button1 }}</button>
    <button type="button" class="btn btn-outline-info">{{ button2 }}</button>
    <button type="button" class="btn btn-outline-info">{{ button3 }}</button>
    <button type="button" class="btn btn-outline-info">{{ button4 }}</button>
    </div>
    <table class="table">
    <thead>
        <tr>
            <th>name</th>
            <th>score</th>
        <tr>
    </thead>
    <tbody>
        {% for Country in result %}
        <tr>
            <td>{{ Country.name }}</td>
            <td>{{ Country.counter }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
