{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block content %}
    <div class="container">
    <div class="row">

    <div class="div class=col-sm-9">
    <h1>Welcome to Geomapgusser</h1>
    <a class="btn btn-primary" href="rand" role="button">Randomize Location</a>
    </div>

    <div class="row">
    <div class="col-8 col-sm-6">
    <img src={{ mapurl }} class="rounded" style="width: 500px; height: 500px;">
    </div>

    <div class="col-4 col-sm-6">
    <form action="/checkbutton" method="POST">
        <button type="submit" class="btn btn-outline-info" id={{ button1 }} name="button" value={{ button1 }}>{{ button1 }}</button>
        <button type="submit" class="btn btn-outline-info" id={{ button2 }} name="button" value={{ button2 }}>{{ button2 }}</button>
        <button type="submit" class="btn btn-outline-info" id={{ button3 }} name="button" value={{ button3 }}>{{ button3 }}</button>
        <button type="submit" class="btn btn-outline-info" id={{ button4 }} name="button" value={{ button4 }}>{{ button4 }}</button>
    </form>

    <table class="table  table-dark table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Score</th>
        <tr>
    </thead>
    <tbody>
        {% for Country in result %}
        <tr>
            <td>{{ Country.name }}</td>
            <td>{{ Country.counter }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
{% endblock %}
